File to create an neural network capable of predict time series
using PANDAS as toolkit Develop by Santos Alberto Banuelos Solis

In [1]:
import numpy as np
import pandas as pd

In [2]:
rawData = pd.read_csv('resources/Consulta_Banxico.csv', sep=',', encoding='latin1', skiprows=10, skip_blank_lines=True)
column = rawData.columns.values[0:2]
rawData[0:2]

,Tipo de informaci√≥n,Tasa de crecimiento mensual,Tasa de crecimiento mensual.1,Tasa de crecimiento mensual.2,Tasa de crecimiento mensual.3,Tasa de crecimiento mensual.4,Tasa de crecimiento mensual.5,Tasa de crecimiento mensual.6,Tasa de crecimiento mensual.7,Tasa de crecimiento mensual.8,Tasa de crecimiento mensual.9,Tasa de crecimiento mensual.10,Tasa de crecimiento mensual.11,Tasa de crecimiento mensual.12,Tasa de crecimiento mensual.13,Tasa de crecimiento mensual.14
0,Fecha,SF4782,SF65016,SF65017,SF65018,SF65019,SF65020,SF65021,SF65022,SF4783,SF4784,SF4785,SF4786,SF4787,SF4788,SF4789
1,Ene 1981,N/E,N/E,N/E,N/E,N/E,N/E,N/E,N/E,N/E,N/E,N/E,N/E,N/E,N/E,N/E

In [3]:
rawData = rawData.rename(columns={column[0] : 'Fecha'})
rawData.drop(rawData.index[:1], inplace=True)
rawData[0:2]
columns = rawData.columns.values[0:2]

In [4]:
data = rawData[columns]
data[0:2]

,Fecha,Tasa de crecimiento mensual
1,Ene 1981,N/E
2,Feb 1981,-4.76

In [7]:
data[0:10]

,Fecha,Tasa de crecimiento mensual
2,Feb 1981,-4.76
3,Mar 1981,-4.29